<form action="/addProduct" method="post">
    <div class="container">
        <h1>add Product</h1>

        <label for="productName"><b>productName</b></label>
        <input type="text" placeholder="Enter product" name="productName" id="productName" required>


        <label for="productPrice"><b>productPrice</b></label>
        <input type="text" placeholder="Enter Price" name="productPrice" id="productPrice" required>


        <button type="submit" class="registerbtn">add product</button>
    </div>

</form>