<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<h1>MY site</h1>
<div class="container signin">
    <p>You already have an account? <a href="/login">Login here!</a></p>
    <p>You don't have an account? <a href="/register">Register here!</a></p>
    <p>Would you like to add products? <a href ="/addProduct">Click here!</a></p>
    <p>Would you like to see all products? <a href ="/listAll">Click here!</a></p>
</div>
</body>
</html>
