<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav style="" >
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
</nav>
<form action="/login" method="post" >
    <div class="container">
        <h1>Login PAGE</h1>
        <label for="email"><b>email</b></label>
        <input type="text" placeholder="Enter email name" name="email" id="email" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <button type="submit" class="registerbtn">LOG IN</button>
    </div>


</form>
</body>
</html>